@import "../../styles.scss";

main {
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 700px;
  width: 500px;
  @media(max-width: 599px) {
    width: 90%;
    height: 90%;
  }
}

.upper {
  height: 50%;
  width: 100%;
  padding: 16px;
  @include dFlex($fd: column);
}

.lower {
  height: 50%;
  width: 100%;
  background-color: rgba(230, 230, 230, 1);
  border-radius: 32px 32px 0 0;
  margin-top: -32px;
  header {
    @include dFlex($jc: space-evenly);
    width: 100%;
    padding-top: 32px;
    h3 {
      font-size: 20px;
      cursor: pointer;
      @media(max-width: 599px) {
        font-size: 16px;
      }
    }
  }
  section{
    height: 80%;
  }
}

.background {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(161, 161, 161, 0.7);
}

.headline {
  width: 100%;
  margin-bottom: auto;
  @include dFlex($jc: space-between);
  .closeBtn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform ease-in 100ms;
    &:hover{
      transform: scale(1.4);
      transition: transform ease-in 100ms;
    }
  }
  > div {
    @include dFlex($g: 16px);
    h3 {
      font-size: 32px;
      font-weight: 900;
    }
    span{
      @extend .spanBubble;
      font-size: 20px;
      font-weight: 500;
      @media(max-width: 599px) {
        display: none;
      }
    }
  }
}

.imgAndTypes {
  margin-bottom: auto;
  @include dFlex($jc: space-evenly);
  @media(max-width: 599px) {
    flex-direction: column;
  }
}

.types {
  @include dFlex($fd: column, $ai: flex-start, $g: 8px);
  span {
    @extend .spanBubble;
  }
  @media(max-width: 599px) {
      flex-direction: row;
  }
}

.pokeImg {
  width: 250px;
  height: auto;
  @media(max-width: 599px) {
    width: 200px;
  }
}

.active{
  padding: 4px 8px;
  border-radius: 100vw;
}
