<main>
  <div
    class="upper"
    [ngStyle]="{
      'background-color': apiService.getBgColor(
        apiService.pokeDetailWithIndex()
      )
    }"
  >
    <div class="headline">
      <div>
        <h3>{{ apiService.pokeDetailWithIndex().name | titlecase }}</h3>
        <span>#{{ apiService.pokeDetailWithIndex().id | zeroPad : 4 }}</span>
      </div>
      <img (click)="toggleDetailView()" class="closeBtn" src="/assets/img/close-icon.png" alt="">
    </div>

    <div class="imgAndTypes">
      <div class="types">
        @for (poke of apiService.pokeDetailWithIndex().types; track $index) {
        <span>{{ poke.type.name | titlecase }}</span>
        }
      </div>
      <img
        class="pokeImg"
        src="{{
          apiService.pokeDetailWithIndex().sprites.other['official-artwork']
            .front_default
        }}"
        alt=""
      />
    </div>
  </div>
  <div class="lower">
    <header>
      <h3
        (click)="setActiveSection('about')"
        [ngStyle]="{
          'background-color':
            activeSection === 'about'
              ? apiService.getBgColor(apiService.pokeDetailWithIndex())
              : 'rgba(230, 230, 230, 1)'
        }"
        [ngClass]="{ active: activeSection === 'about' }"
      >
        About
      </h3>
      <h3
        (click)="setActiveSection('stats')"
        [ngStyle]="{
          'background-color':
            activeSection === 'stats'
              ? apiService.getBgColor(apiService.pokeDetailWithIndex())
              : 'rgba(230, 230, 230, 1)'
        }"
        [ngClass]="{ active: activeSection === 'stats' }"
      >
        Base Stats
      </h3>
      <h3
        (click)="setActiveSection('evo')"
        [ngStyle]="{
          'background-color':
            activeSection === 'evo'
              ? apiService.getBgColor(apiService.pokeDetailWithIndex())
              : 'rgba(230, 230, 230, 1)'
        }"
        [ngClass]="{ active: activeSection === 'evo' }"
      >
        Evolution
      </h3>
      <h3
        (click)="setActiveSection('moves')"
        [ngStyle]="{
          'background-color':
            activeSection === 'moves'
              ? apiService.getBgColor(apiService.pokeDetailWithIndex())
              : 'rgba(230, 230, 230, 1)'
        }"
        [ngClass]="{ active: activeSection === 'moves' }"
      >
        Moves
      </h3>
    </header>
    <section>
      @switch (true) { 
        @case (activeSection === 'about') {<app-about ></app-about>}
        @case (activeSection === 'stats') {<app-stats></app-stats>}
        @case (activeSection === 'evo') {<app-evo></app-evo>} 
        @case (activeSection=== 'moves') {<app-moves></app-moves>}
        @default {<app-about></app-about>} }
    </section>
  </div>
</main>

<div (click)="toggleDetailView()" class="background"></div>
