@import "../../styles.scss";

main {
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 700px;
  width: 500px;
}

.upper {
  height: 50%;
  width: 100%;
  padding: 16px;
}

.lower {
  height: 50%;
  width: 100%;
  background-color: white;
  border-radius: 32px 32px 0 0;
  margin-top: -32px;
  header {
    @include dFlex($jc: space-evenly);
    width: 100%;
    padding-top: 32px;
    h3 {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-thickness: 3px;
      }
    }
  }
}

.background {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background-color: rgb(135 136 135 / 7%);
}

.headline {
  @include dFlex($jc: space-between);
  .closeBtn {
    cursor: pointer;
    animation-duration: 125ms;
    &:hover{
      scale: 1.2;
      animation-duration: 125ms;
    }
  }
  > div {
    @include dFlex($g: 16px);
    h3 {
      font-size: 32px;
      font-weight: 900;
    }
    span{
      @extend .spanBubble;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.imgAndTypes {
  @include dFlex($jc: space-evenly);
}

.types {
  @include dFlex($fd: column, $ai: flex-start, $g: 8px);
  span {
    @extend .spanBubble;
  }
}

.pokeImg {
  width: 250px;
  height: auto;
}
