<div class="evoBox">
  @for (item of apiService.chain; track item.name; let index = $index) {
  <div class="singleChain">
    <h3>{{ item.name | titlecase }}</h3>
    <img class="evoImg" src="{{ item.url }}" alt="" />
  </div>
  @if (index < (apiService.chain.length - 1)) {
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="24px"
    viewBox="0 -960 960 960"
    width="24px"
    fill="black"
  >
    <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
  </svg>

  } }
</div>
