@import "../../../styles.scss";

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  background-color: #f5f1f1;
  box-shadow: -10px 0px 5px 2px #b2a9a9;
  @include dFlex();
}

header {
  width: 100%;
  max-width: $content-limit;
  margin-inline: auto;
  padding: 0 64px;
  @include dFlex($jc: space-around);
  @media (max-width: 799px) {
    flex-direction: column;
    padding: 16px 0;
    gap: 16px;
  }
  img {
    height: 50px;
    width: auto;
  }
  input {
    height: 32px;
    width: 200px;
    border: unset;
    background-color: white;
    font-size: 16px;
    border-radius: 100vw;
    padding: 4px 8px;
    outline: none;
  }
}

.inputWrapper {
  position: relative;
  svg {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: $input-color;
  }
}

.customSelect {
  position: relative;
  width: 200px;
  background-color: white;
  font-size: 16px;
  color: $input-color;
  .activeOption {
    width: 100%;
    @include dFlex($g: 8px, $jc: space-between);
    cursor: pointer;
    padding: 4px 8px;
  }
  .options {
    z-index: 5;
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
    background-color: white;
    border-radius: 0 0 16px 16px;
    @include dFlex($fd: column, $ai: flex-start, $g: 8px);

    .option {
      cursor: pointer;
      width: 100%;
      padding: 4px 8px;
      font-size: 16px;
      font-weight: 500;
      &:hover {
        background-color: rgb(209 206 206 / 30%);
      }
      &:last-child{
        border-radius: 0 0 16px 16px;
      }
    }
  }
}

.customSelect-open {
  border-radius: 16px 16px 0 0;
}

.customSelect-close {
  border-radius: 100vw;
}
