
<section>
    <table>
        <tr>
            <th class="prop">Weight:</th>
            <th class="value">{{pokemon.weight | weight }}</th>
        </tr>
        <tr>
            <th class="prop">Height:</th>
            <th class="value">{{pokemon.height | height }}</th>
        </tr>
        <tr>
            <th class="prop">Base Exp:</th>
            <th class="value">{{ pokemon.base_experience }}</th>
        </tr>
        <tr>
            <th class="prop">Abilities:</th>
            <th class="value">@for (ability of pokemon.abilities; track ability.ability.name; let index = $index) {
                <span>{{ ability.ability.name }}</span>
                @if (index < (pokemon.abilities.length -1)) {
                    <span>, </span>
                }
                }
            </th>
        </tr>
    </table>
</section>
