<main>
  @if (apiService.displayedPokemon.length < apiService.allPokemon.length) {
    <button (click)="goBack()">Back</button>
  }
  <div class="pokeList">
    @for (pokeDetail of apiService.displayedPokemon; track pokeDetail.name;
    let index = $index;) {
    <div
      [ngStyle]="{ 'background-color': apiService.getBgColor(pokeDetail) }"
      (click)="showDetailBox(index)"
      class="pokeCard"
    >
      <div class="headline">
        <h2>{{ pokeDetail.name | titlecase }}</h2>
        <span>#{{ pokeDetail.id | zeroPad: 4 }}</span>
      </div>
      <div class="details">
          <div class="types">
              @for (pokeType of pokeDetail.types; track $index) {
                  <span>{{ pokeType.type.name | titlecase }}</span>
              }
          </div>
          <img src="{{ pokeDetail.sprites.other['official-artwork'].front_default }}" alt="" />
      </div>
    </div>
  
     } @empty {
      <h1>No Pokemon loaded!</h1>
    }
  </div>

  @if (detailboxShown) {
    <app-poke-details
      (showDetailView)="changeDetailViewState($event)"
    ></app-poke-details>
    }
    @if (apiService.displayedPokemon.length === apiService.allPokemon.length) {
      <button (click)="apiService.loadMore()">Load more</button>
    }
</main>

