@import '../../styles.scss';

main{
    padding: 96px 16px 16px 16px;
    @media(max-width: 599px){
        padding: 170px 16px 16px 16px;
      }
}

.pokeList{
    @include dFlex($g: 16px);
    flex-wrap: wrap;
}

.pokeCard{
    width: 280px;
    border-radius: 16px;
    padding: 8px;
    cursor: pointer;
    &:hover img{
        scale: 1.3;
        transition-duration: 125ms;
    } 
}

.headline{
    @include dFlex($g: 16px, $jc: space-around);
    h2{
        font-size: 24px;
        font-weight: 900;
    }
    span{
        background-color: rgba(255, 255, 255, 0.3);
        padding: 4px 8px;
        border-radius: 100vw;
        font-size: 16px;
        font-weight: 500;
    }
}

.details{
    @include dFlex($jc: space-around);
    img{
        width: 130px;
        height: auto;
        transition-duration: 125ms;
    }
}

.types{
    @include dFlex($fd: column, $ai: flex-start, $g: 8px);
    span{
        background-color: rgba(255, 255, 255, 0.3);
        padding: 4px 8px;
        border-radius: 100vw;
    }
}