@import '../../styles.scss';

.pokeList{
    @include dFlex($g: 16px);
    flex-wrap: wrap;
}

.pokeCard{
    border: 2px solid red;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

.headline{
    @include dFlex($g: 16px);
}