<div >
    <div>
        <h1>Impressum</h1>
    </div>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Manuel Braun <br>
        Grafen-von-Rieneck Str. 18<br>
        97846 Partenstein <br>
    </p>
    <p> <strong>Vertreten durch: </strong><br>
        Manuel Braun<br>
    </p>
    <p><strong>Kontakt:</strong> <br>
        Telefon: 0170-7020169<br>
        E-Mail: <a href='mailto:tafari0815@gmail.com'>tafari0815&#64;gmail.com</a></p><br>
    Impressum vom <a href="https://www.impressum-generator.de" target="_blank">Impressum Generator</a> der
    <a href="https://www.kanzlei-hasselbach.de/standorte/frankfurt/" target="_blank" rel="nofollow">Kanzlei
        Hasselbach,
        Frankfurt</a><br><br>
    <a href="https://www.flaticon.com/de/kostenlose-icons/pokemon" target="_blank"
        title="pokémon Icons">Pokémon Icons
        erstellt von Those Icons - Flaticon</a><br><br>
    <a href="https://pokeapi.co/" target="_blank">Thanks to the team from pokeapi.co for the API</a>
</div>