<div class="background">
  
    <main>
        <header>
            <h1>Imprint</h1>
            <button (click)="goBack()">Back</button>
        </header>
        <p>According to § 5 TMG</p><br>
        <p>Manuel Braun</p>
        <p>Grafen-von-Rieneck Str. 18</p>
        <p>97846 Partenstein</p><br>
        <h2>Represented by:</h2>
        <p>Manuel Braun</p><br>
        <h2>Contact:</h2>
        <p>Phone: <a href="tel:00491707020169">0049-1707020169</a></p>
        <p>E-Mail: <a href="mailto: contact@manuel-braun.net">contact&#64;manuel-braun.net</a></p><br>
        <h2>Disclaimer:</h2><br>
        <h2>Liability for content</h2><br>
        <p>The contents of our pages were created with the greatest care. However, we cannot guarantee the accuracy, completeness and topicality of the contents. As a service provider we are responsible according to § 7 Abs.1 TMG for own contents on these pages according to the general laws. According to §§ 8 to 10 TMG, however, we are not obliged as a service provider to monitor transmitted or stored information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information in accordance with general laws remain unaffected by this. However, liability in this respect is only possible from the time of knowledge of a specific infringement. As soon as we become aware of such infringements, we will remove this content immediately.</p><br>
        <h2>Liability for links</h2><br>
        <p>The contents of our pages were created with the greatest care. However, we cannot guarantee the accuracy, completeness and topicality of the contents. As a service provider we are responsible according to § 7 Abs.1 TMG for own contents on these pages according to the general laws. According to §§ 8 to 10 TMG, however, we are not obliged as a service provider to monitor transmitted or stored information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information in accordance with general laws remain unaffected by this. However, liability in this respect is only possible from the time of knowledge of a specific infringement. As soon as we become aware of such infringements, we will remove this content immediately.</p><br>
        <h2>Copyright</h2><br>
        <p>The content and works created by the site operators on these pages are subject to German copyright law. The duplication, processing, distribution and any kind of utilization outside the limits of copyright law require the written consent of the respective author or creator. Downloads and copies of this site are only permitted for private, non-commercial use. Insofar as the content on this site was not created by the operator, the copyrights of third parties are respected. In particular, third-party content is identified as such. Should you nevertheless become aware of a copyright infringement, please notify us accordingly. If we become aware of any legal infringements, we will remove such content immediately.</p><br>
        <h2>Privacy</h2><br>
        <p>The use of our website is generally possible without providing personal data. If personal data (e.g. name, address or e-mail addresses) is collected on our website, this is always done on a voluntary basis as far as possible. This data will not be passed on to third parties without your express consent. We would like to point out that data transmission over the Internet (e.g. when communicating by e-mail) may be subject to security vulnerabilities. Complete protection of data against access by third parties is not possible. We hereby expressly prohibit the use of contact data published within the scope of the imprint obligation by third parties for sending unsolicited advertising and information material. The operators of the website expressly reserve the right to take legal action in the event of the unsolicited sending of advertising information, such as spam emails.</p>
    </main>
        
</div>
