
$poke-yellow: rgb(255,206,48);
$poke-blue: rgb(2,0,101);

$content-limit: 1600px;

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito";
  margin: 0;
  background-color: rgb(160 160 160 / 30%);
}

@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

.spanBubble {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4px 8px;
  border-radius: 100vw;
  font-size: 16px;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background: $poke-yellow;
  border-radius: 100vw;
  border: 3px solid $poke-blue;
  &:hover {
    cursor: pointer;
    background: $poke-blue;
  }
}

::-webkit-scrollbar-track {
  //background: rgb(226, 226, 226);
  background: #f5f1f1;;
}

